@import 'components/mixin/mixins';
@import 'components/placeholder/placeholders';
@import 'components/variable/variables';
@import '../node_modules/hover.css/css/hover.css';
@import '../node_modules/materialize-css/dist/css/materialize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Poppins;
}

html {
    font: {
        size: 11px;
        weight: 300;
    }
}

.main-box {
    @include dimension(100vh, auto);
    @include backgroundImage('../images/bg-intro-desktop.png', center center, size, fixed);
    @include flex();
    background-color: $red;
    .left-side, .right-side {
        flex: 1;
    }
    .left-side {
        @include flex(flex,row,center,center);
        .title {
            //text-align: center;
            //@include border(3px, black);
            flex: 0.75;
            height: 50%;
            color: #fff;
            h1 {
                font: {
                    size: 5.3rem;
                    weight: 600;
                }
            }
            p {
                font: {
                    size: 1.7rem;
                    weight: 400;
                }
                line-height: 3rem;
                margin-top: 3rem;
            }
        }
    }
    .right-side {
        @include flex(flex, column, center, flex-start);
        .subscription, .application {
            width: 80%;
            border-radius: 1rem;
            @extend %box-shadow;
        }
        .subscription {
            background-color: $blue;
            margin-top: 10rem;
            margin-bottom: 1rem;
            flex: 0.1;
            @include flex(flex,row,center,center);
            cursor: pointer;
            p {
                color: #fff;
                font : {
                    weight: 200;
                    size: 1.3rem;
                }
                span {
                    font-weight: 600;
                }
            }
        }
        .application {
            background-color: #fff;
            flex: 0.9;
            margin-bottom: 10rem;
            form {
                margin: 3rem 4rem;
                .input-field {
                    margin: 2rem 0rem;
                }   
            }
            .free-trial {
                background-color: $green;
                @include flex(flex,row,center,center);
                height: 12%;
                @extend %box-shadow;
                border-radius: 1rem;
                margin: 2rem 4rem;
                p {
                    color: #fff;
                    font : {
                        size: 1.4rem;
                        weight: 500;
                    }
                }
            }
            .terms {
                color: $grayish-blue;
                @include flex(flex,row,center,center);
                margin: 0rem 4rem;
                font-size: 1.2rem;
                a {
                    margin-left: -1rem;
                    color: $red;
                    font-weight: 900;
                    cursor: pointer;
                    background: none;
                    box-shadow: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 1310px) {
    .main-box {
        .left-side {
            .title {
                h1 {
                    font-size: 4rem;
                }
                p {
                    font-size: 1.3rem;
                }
            }
        }
        .right-side {
            .terms {
                font-size: 1rem !important;
                a {
                    margin-left: -1rem;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-box {
        @include flex(flex, column);
        height: 100rem;
        .left-side {
            //@include border(5px, blue);
            flex: 0.3;
            //height: 10rem;
            .title {
                //@include border(5px, red);
                height: 65%;
                flex: 0.9;
                align-items: center;
                text-align: center;
                h1 {
                    font-size: 3rem;
                    padding: 0 2rem;
                }
                p {
                    font-size: 1.5rem;
                    padding: 0 1rem;
                    line-height: 2.2rem;
                }
            }
        }
        .right-side {
            flex: 0.7;
            //@include border(5px, yellow);
            //height: 80%;
            @include flex(flex,column,center,center);
            .subscription, .application {
                width: 90%;
                margin: 0;
            }
            .subscription {
                margin-top: 0rem;
                flex: 0.15;
                p {
                    font-size: 1.5rem;
                    text-align: center;
                    span {
                        display: block;
                    }
                }
            }
            .application {
                margin-bottom: 7rem;
                margin-top: 2rem;
                flex: 0.7;
            }
            .terms {
                font-size: 0.5rem !important;
                a {
                    margin-left: -1rem;
                    font-size: 0.6rem;
                }
            }
        }
    }
}